body {
    background: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    color: #1a5f3a; /* verde */
}

header {
    background: #1a5f3a; /* verde */
    color: #d4af37; /* dourado */
    padding: 20px;
    text-align: center;
}

.btn {
    background: #d4af37; /* dourado */
    color: #1a5f3a; /* verde */
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    display: block;
    text-align: center;
    font-size: 18px;
    border-radius: 12px;
    font-weight: bold;
    text-decoration: none;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
}